.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 2rem 4rem;
}

.title {
  font-family: var(--font-archivo);
  font-size: var(--font-xxl);
}

.cardList {
  display: flex;
  gap: 1.2rem;
  align-items: stretch;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    margin: 2rem;
  }

  .cardList {
    flex-direction: column;
  }
}

.cardList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.cardList li {
  display: flex;
  list-style: none;
}

.cardList li article {
  flex: 1;
  display: flex;
}

/* TODO : activer quand la card sera cliquable
.card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translate(-2px, -2px);
  box-shadow: var(--shadow-xl);
} */
